/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// $base-font: "Open Sans", "Helvetica", "sans-serif";
// $header-font: "Open Sans", "Helvetica", "sans-serif";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
$base-font: 'Slabo 27px', "serif";
$header-font: 'Slabo 27px', "serif";
// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #2AAF74;
$brand-color-hover: #28a46c;
$background-color: #F5F5F7;
$grey-dark: #646465;
$grey: #939494;
$grey-light: #D6D6D6;
$blue-dark: #233142;
$blue-light: #455D7A;
$red: #F92727;
$red-hover: #E00606;
$shadow: rgba(213, 213, 221, 0.5);
$shadow-hover: rgba(198, 198, 210, 0.5);
$border: #D6D6D6;










$black: #212121;
$dark-grey: #323232;
$linkedin-default: #0077b5;
$linkedin-hover: #046293;

// old brand-color: #0D7377


$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
