<% if @notification %>
  <p><%= @notification %></p>
<% else %>
  <%= react_component "Mailbox", { conversations: @mailbox_props, current_user: current_user, active_conversation: @active_conversation_props } %>
<% end %>



