<div class="container">
  <div id="footer">
    <div class="flex-around" id="footer-links">
      <%= link_to 'About', about_path %>
      <span> | </span>
      <a href="#">Contact Us</a>
      <span> | </span>
      <%= link_to 'Terms', terms_path %>
      <span> | </span>
      <%= link_to 'How it works', instructions_path %>
    </div>
    <div class="flex" id="copyrights">
      <p>© NeverLoseAContact, 2017</p>
    </div>
  </div>
</div>
