<div class="navbar-container">

  <div class="navbar-left">
    <!-- Brand -->
    <%= link_to root_path do %>
      <h3><em>NeverLoseAContact</em></h3>
    <% end %>
  </div>

  <div class="navbar-right">
    <!-- Communities -->
    <%= link_to do %>
      <h4>Communities</h4>
    <% end %>
    <!-- Log out -->
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="material-icons">power_settings_new</i>
    <% end %>
  </div>

</div>














