<!-- COMPUTER -->
  <!-- CONTAINER -->
  <div class="computer-nav-container flex">
    <!-- LOGO -->
    <div class="nav-left flex-center">

    </div>
    <!-- NAVBAR -->
    <div class="nav-right flex-between">
      <!-- CREATE COMMUNITY -->
      <div class="nav-community-btn"><h1>CREATE A COMMUNITY</h1></div>
      <!-- LOG OUT -->
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons">power_settings_new</i>
      <% end %>
    </div>
  </div>



<!-- PHONE -->













