<!-- CONTAINER -->
<div class="navbar-container flex">

  <!-- LEFT SIDE -->
  <div class="navbar-left flex-center">
    <!-- LOGO -->
    <%= link_to root_path do %>
      <%= image_tag 'logo' %>
    <% end %>
  </div>

  <!-- RIGHT SIDE -->
  <div class="navbar-right flex-end">
    <!-- LOG OUT -->
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="material-icons">power_settings_new</i>
    <% end %>
  </div>

</div>














