// CONTAINER
.navbar-container {
  height: 50px;
  width: 100%;
  background-color: white;
}

// LEFT SIDE
.navbar-left {
  flex: 0 0 15%;
  height: 100%;
  a {
    display: flex;
    justify-content: center;
  }
  img {
    height: 80%;
    width: 80%;
  }
}

// RIGHT SIDE
.navbar-right {
  flex: 0 0 85%;
}












