// SIDE CONTAINER
.side-container {
  min-height: 40px;
  background-color: #3B3E52;
  padding-left: 70px;
  padding-right: 60px;
  p {
    display: none;
  }

  // ICONS
  a i {
    font-size: 15px;
    color: $grey-four;
    &:active {
      color: white;
    }
  }
}

// NOTIFICATIONS
.side-notifications {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $red;
  position: absolute;
  top: 50px;
  right: 55px;
}

