/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0 0 0 800px;
  text-align: center;
  color: white;
}
.alert-info {
  background: $brand-color;
}
.alert-warning {
  background: $red;
}
