.sidebar-avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.contact-card-avatar {
  max-height: 130px;
  width: 130px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.avatar-large {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
