.sidebar-avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.contact-card-avatar {
  max-height: 130px;
  width: 130px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.conversation-card-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.avatar-margin-small {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  background-color: $background-color;
  position: absolute;
  right: 10%;
  top: 7%;
}
