// MAIN
.btn {
  background-color: $brand-color;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  &:hover {
    background-color: $brand-color-hover;
    color: white;
    box-shadow: 1px 2px 4px $shadow;
  }
}

// SIGN UP/IN
.sign-btn {
  background-color: $brand-color;
  color: white;
  border-radius: 25px;
  border: none;
  height: 40px;
  width: 150px;
  padding: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  &:hover {
    background-color: $brand-color-hover;
    color: white;
  }
}

// LINKEDIN
.linkedin-btn {
  height: 60px;
  width: 275px;
  background-color: #0077B5;
  color: white;
  border-radius: 3px;
  .linkedin-btn-left {
    flex: 0 0 20%;
    border-right: 2px solid white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .linkedin-btn-right {
    flex: 0 0 80%;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 23px;
  }
  &:hover {
    background-color: #006399;
  }
}

// BUSINESS CARD
.business-card-btn {
  font-size: 12px;
  font-weight: 400;
}



















// Community creation
.community-create-btn {
  background-color: $brand-color;
  border-radius: 2px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
}

// Conversation send
.conversation-send-btn {
  background-color: $brand-color;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 5px 10px;
}


// Clipboard
.clipboard-btn {
  background-color: $brand-color;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  padding: 5px;
  &:hover {
    background-color: $brand-color-hover;
    box-shadow: 1px 2px 4px $shadow;
    color: white;
    cursor: pointer;
  }
}









                          // .linkedin-btn {
                          //   height: 70px;
                          //   width: 400px;
                          //   margin: 15px 0 10px 0;
                          //   background-color: $linkedin-default;
                          //   border-radius: 2px;
                          //   color: white;
                          //   font-weight: bold;
                          //   display: flex;
                          //   .in {
                          //     flex: 0 0 15%;
                          //     margin: 10px 0;
                          //     border-right: 2px solid white;
                          //     h2 {
                          //       font-weight: bold;
                          //       font-size: 35px;
                          //     }
                          //   }
                          //   .sign-linkedin {
                          //     flex: 0 0 85%;
                          //     h2 {
                          //       font-size: 30px;
                          //     }
                          //   }
                          //   &:hover {
                          //     background-color: $linkedin-hover;
                          //   }
                          // }

                          // .btn {
                          //   background-color: $brand-color;
                          //   color: white;
                          //   border-radius: 2px;
                          //   border: none;
                          //   box-shadow: 1px 1px 4px 1px $shadow;
                          //   &:hover {
                          //     background-color: $brand-color-hover;
                          //     color: white;
                          //     box-shadow: 2px 2px 4px 1px $shadow;
                          //   }
                          // }

                          // .contacts-contacts {
                          //   margin-top: 15px;
                          // }

                          // .add-tags-btn {
                          //   height: 30px;
                          //   width: 100px;
                          //   padding-bottom: 30px;
                          // }
                          // .confirm-add-tags-btn {
                          //   margin-top: 10px;
                          // }

                          // .update-btn {
                          //   height: 50px;
                          //   width: 200px;
                          //   font-weight: bold;
                          //   font-size: 22px;
                          //   letter-spacing: 5px;
                          // }

                          // .edit-link {
                          //   color: $brand-color;
                          //   position: absolute;
                          //   top: 10px;
                          //   right: 15px;
                          //   font-size: 14px;
                          //   p {
                          //     float: left;
                          //   }
                          //   i {
                          //     margin-left: 5px;
                          //   }
                          // }

                          // .sign-btn {
                          //   height: 35px;
                          //   width: 120px;
                          // }
