.edit-form {
  margin-top: 50px;
  padding: 0 40px 40px 40px;
  width: 675px;
  background-color: white;
  border: 1px solid $border;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 1px $shadow;
  h3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .input-inline {
    width: 250px;
  }
  #business_card_location {
    margin-right: 0 !important;
  }
}
