// Community creation
.community-input {
  background-color: white;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $blue-dark;
  box-shadow: none;
  padding: 5px 2px;
  margin-bottom: 25px;
  &:focus {
    outline: none;
    box-shadow: none;
    color: $blue-dark;
    border-bottom: 1px solid white;
    font-size: 14px;
    font-weight: lighter;
  }
}
