.search-contacts{
  margin-top: 20px;
  form {
    display: flex;
    justify-content: center;
  }
  input {
    width: 350px;
    height: 40px;
  }
}

//Media Queries
  //Tablet
  @media (max-width: 768px) and (min-width: 426px) {
    .search-contacts {
      form {
      display: flex;
      justify-content: space-between;
      }
      input {
        width: 240px;
        height: 30px;
        margin-right: 5px;
        font-size: 11px;
      }
    }
  }

  //Large and Medium Phones
  @media (max-width: 425px) {
    .search-contacts {
      form{
        flex-direction: column;
      }
    }
  }

  //Small Phones
  @media (max-width: 320px) {
  .search-contacts {
    input {
      width: 300px;
      }
    }
  }
