.tag {
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  border: 1px solid $border;
  box-shadow: 1px 1px 2px $shadow;
  margin: 8px;
  background-color: $grey;
  font-size: 16px;
  font-weight: 550;
  p {
    color: $brand-color;
  }
  a {
    font-size: 10px;
    color: #7F7F7F;
    padding-left: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}
