// BUSINESS CARD
.business-card {
  height: 620px;
  width: 380px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 3px 4px $shadow;
  padding: 10px 20px;
  h1 {
    font-size: 24px;
    font-weight: 400;
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
    color: $grey-two;
  }
  a p {
    color: $grey-one;
    padding-bottom: 2px;
    &:hover {
      border-bottom: 2px solid $brand-color;
    }
  }
  i {
    font-size: 18px;
    color: $grey-four;
  }
  .destroy:hover {
    color: $red;
  }
  .edit:hover {
    color: $brand-color-hover;
    cursor: pointer;
  }
}
