.business-card {
  margin-top: 40px;
  height: 385px;
  width: 675px;
  background-color: white;
  border: 1px solid $border;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 1px $shadow;
  display: flex;
  align-items: center;
  position: relative;
  i {
    color: $brand-color;
  }
}

.card-left {
  flex: 0 0 40%;
  height: 80%;
}

.card-right {
  flex: 0 0 60%;
  height: 85%;
  border-left: 4px solid $brand-color;
}

.info {
  width: 85%;
  i {
  padding-right: 20px;
  font-size: 25px;
  }
  p {
    margin: 0;
  }
}

.info-icon {
  flex: 0 0 20%;
}

.card-avatar {
  flex: 0 0 70%;
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}

.card-name {
  flex: 0 0 20%;
  width: 250px;
  text-align: center;
}

.card-job {
  flex: 0 0 10%;
  color: $brand-color;
  width: 250px;
  text-align: center;
}


// Media queries
  // Large/Medium phones
  @media (max-width: 425px) and (min-width: 321px) {
    .business-card {
      margin-top: 20px;
      height: 600px;
      width: 345px;
      flex-direction: column;
    }

    .card-left {
      flex: 0 0 50%;
      height: 45%;
      width: 85%;
    }

    .card-right {
      flex: 0 0 50%;
      height: 55%;
      width: 85%;
      border-top: 4px solid $brand-color;
      border-left: none;
    }

    .card-avatar {
      flex: 0 0 50%;
      padding-top: 20px;
      img {
        height: 180px;
        width: 180px;
      }
    }
  }

  // Small phones
  @media (max-width: 320px) {
    .business-card {
      margin-top: 30px;
      height: 500px;
      width: 290px;
      flex-direction: column;
    }

    .card-left {
      height: 45%;
      width: 85%;
    }

    .card-right {
      height: 55%;
      width: 85%;
      border-top: 4px solid $brand-color;
      border-left: none;
    }

    .info  p {
      font-size: 14px;
    }

    .card-left {
      flex: 0 0 50%;
      height: 45%;
      width: 85%;
    }

    .card-right {
      flex: 0 0 50%;
      height: 55%;
      width: 85%;
      border-top: 4px solid $brand-color;
      border-left: none;
    }

    .card-avatar {
      flex: 0 0 50%;
      padding-top: 20px;
      img {
        height: 160px;
        width: 160px;
      }
    }
  }
