// CONTAINER
.contacts-container {

}

// CARD
.contact-card {
  height: 125px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 2px 4px $shadow;
  margin: 5px 0;
  padding: 5px;
  .contact-card-top {
    height: 75px;
    display: flex;
    .contact-card-info {
      height: 100%;
      width: 100%;
      padding-left: 10px;
      h2 {
        font-size: 18px;
        font-weight: 400;
        color: $grey-one;
        margin-bottom: 5px;
      }
      h4 {
        font-size: 10px;
        font-weight: 300;
        color: $grey-three;
      }
      h6 {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 5px;
      }
    }

  }
  .contact-card-bottom {
    height: 40px;
    padding: 5px 5px 0 10px;
    h4 {
      font-size: 10px;
      font-weight: 300;
      color: $grey-three;
      margin-bottom: 3px;
    }
    a p {
      font-size: 10px;
      font-weight: 300;
      color: $grey-two;
      text-decoration: underline;
    }
  }
}














                      // .contact-card {
                      //   height: 130px;
                      //   width: 90%;
                      //   background-color: white;
                      //   margin: 10px 0;
                      //   border-radius: 2px;
                      //   box-shadow: 1px 2px 4px $shadow;
                      //   display: flex;
                      //   &:hover {
                      //     box-shadow: 2px 4px 4px $shadow-hover;
                      //   }
                      // }

                      // .contact-card-info {
                      //   flex: 0 0 37%;
                      //   padding: 20px 10px 10px 10px;
                      //   h2 {
                      //     font-size: 18px;
                      //     font-weight: bold;
                      //     color: $blue-dark;
                      //     margin-bottom: 10px;
                      //     span {
                      //       font-size: 15px;
                      //       color: $grey;
                      //     }
                      //   }
                      //   h6 {
                      //     color: $grey-dark;
                      //     font-size: 12px;
                      //     font-weight: bold;
                      //     margin-left: 5px;
                      //     padding: 5px 0;
                      //   }
                      //   i {
                      //     color: $grey-light;
                      //     font-size: 15px;
                      //     padding: 5px 0;
                      //   }
                      //   .contact-card-description {
                      //     h5 {
                      //       color: $grey-light;
                      //       margin-top: 12px;
                      //       margin-bottom: 5px;
                      //     }
                      //     p {
                      //       color: $blue-light;
                      //       font-size: 14px;
                      //       font-weight: lighter;
                      //     }
                      //   }
                      // }

                      // .contact-card-right {
                      //   width: 100%;
                      //   padding-right: 10px;
                      //   display: flex;
                      //   flex-direction: column;
                      //   .contact-card-top-right {
                      //     height: 20px;
                      //     i {
                      //       font-size: 15px;
                      //       color: white;
                      //       background-color: $brand-color;
                      //       padding: 2px 3px;
                      //       margin-top: 5px;
                      //       margin-left: 5px;
                      //       border-radius: 2px;
                      //       float: right;
                      //       }
                      //     .destroy {
                      //       background-color: white;
                      //       color: $grey;
                      //       &:hover {
                      //         color: $red;
                      //       }
                      //     }
                      //     .pending {
                      //       background-color: $grey-light;
                      //       cursor: pointer;
                      //     }
                      //   }
                      //   .contact-card-tags {
                      //     height: 100%;
                      //     h3 {
                      //       font-size: 15px;
                      //       font-weight: bold;
                      //       color: $grey-dark;
                      //       margin-bottom: 10px;
                      //     }
                      //     .contact-card-tags-display {
                      //       overflow: scroll;
                      //       height: 65%;
                      //       display: flex;
                      //       flex-wrap: wrap;
                      //       align-content: flex-start;
                      //     }
                      //   }
                      // }
