// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "business_cards/index";
@import "cards/index";
@import "components/index";
@import "devise/index";
@import "layout/index";
@import "pages/index";
@import "connection_requests/index";

// Main styling
  // Overrides
  body {
    background-color: $background-color;
    color: $grey-one;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  a:hover {
    text-decoration: none;
  }

  .container {
    margin: 0;
    padding: 35px 45px 35px 50px;
    width: 100%;
    display: flex;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
  }

  // General structure
  .application-content {
    height: calc(100vh - 50px);
    display: flex;
  }

  .content-left {
    flex: 0 0 70%;
    h1 {
      font-size: 18px;
      color: $grey-dark;
      margin-bottom: 30px;
    }
  }

  .content-right {
    flex: 0 0 30%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content-right-container {
      flex: 0 0 48%;
      display: flex;
      flex-direction: column;
    }
    h3 {
      font-size: 16px;
      color: $grey-dark;
      margin-bottom: 15px;
    }
  }

  .index {
    height: 82%;
    width: 90%;
    overflow: scroll;
  }

  // MISC
  .link-decoration:hover {
    text-decoration: underline;
  }

// .form-group {
//   margin: 0 !important;
//   width: 100%;
// }

// .form-control {
//   margin: 0 0 20px 0 !important;
// }
