<!-- TITLE -->
<% content_for(:title_tag) do %>
  NLAC | <%= @business_card.user == current_user ? current_user.business_card.full_name : @business_card.full_name %>
<% end %>

<!-- COMPUTER -->
  <!-- CONTAINER -->
  <div class="container">
    <!-- LEFT -->
    <div class="content-left-bc">
      <!-- BUSINESS CARD -->
      <div class="business-card">
        <div class="border-top-card"></div>
        <div class="business-card-content"></div>
        <%# react_component "BusinessCard", business_card: @business_card, current_user: current_user, user: @business_card.user, contacts: @business_card.user.contacts %>
      </div>
    </div>
    <!-- RIGHT -->
    <div class="content-right-bc">
      <!-- TAGS CARD -->
      <div class="tags-card">
        <div class="border-top-card"></div>
        <%= react_component "TagsCard", {tags: @tags, business_card: @business_card, current_user: @current_user} %>
      </div>
    </div>
  </div>



<!-- PHONE -->
